<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
 https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
 version="5.0">

<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>SignupServlet</servlet-name>
<servlet-class>com.exam.SignupServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SignupServlet</servlet-name>
<url-pattern>/SignupServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>com.exam.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>StartExamServlet</servlet-name>
<servlet-class>com.exam.StartExamServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StartExamServlet</servlet-name>
<url-pattern>/StartExamServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SubmitExamServlet</servlet-name>
<servlet-class>com.exam.SubmitExamServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SubmitExamServlet</servlet-name>
<url-pattern>/SubmitExamServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ResultServlet</servlet-name>
<servlet-class>com.exam.ResultServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ResultServlet</servlet-name>
<url-pattern>/ResultServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ProfileServlet</servlet-name>
<servlet-class>com.exam.ProfileServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProfileServlet</servlet-name>
<url-pattern>/ProfileServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SnapshotServlet</servlet-name>
<servlet-class>com.exam.SnapshotServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SnapshotServlet</servlet-name>
<url-pattern>/SnapshotServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CheatMonitorServlet</servlet-name>
<servlet-class>com.exam.CheatMonitorServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CheatMonitorServlet</servlet-name>
<url-pattern>/CheatMonitorServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LeaderboardServlet</servlet-name>
<servlet-class>com.exam.LeaderboardServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LeaderboardServlet</servlet-name>
<url-pattern>/LeaderboardServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminLoginServlet</servlet-name>
<servlet-class>com.exam.AdminLoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminLoginServlet</servlet-name>
<url-pattern>/AdminLoginServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewQuestionsServlet</servlet-name>
<servlet-class>com.exam.ViewQuestionsServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ViewQuestionsServlet</servlet-name>
<url-pattern>/ViewQuestionsServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReleaseResultServlet</servlet-name>
<servlet-class>com.exam.ReleaseResultServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ReleaseResultServlet</servlet-name>
<url-pattern>/ReleaseResultServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>com.exam.LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>

</web-app>

